* {
  font-family: sans-serif;
  padding: 0;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}

/* Nav Bar Style Start*/
header {
  background: black;
}
.nav-wrapper {
  max-width: 1200px;
  background: black;
  margin: 0 auto;
  position: relative;
  padding: 0px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.nav-wrapper ul li {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 0;
}

nav.nav-wrapper ul li a {
  font-size: 17px;
  line-height: 22px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}

nav.nav-wrapper ul li a:hover {
  border-bottom: 1px solid #ffffff;
}

.box {
  position: absolute;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 50px;
}
.box .imgBx {
  height: auto;
  width: auto;
}
.box .imgBx img {
  max-width: 100%;
  border-radius: 50%;
}

.box .content {
}

.box .content h2 {
  margin: 0;
}
