* {
  font-family: sans-serif;
  padding: 0;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}

/* Nav Bar Style Start*/
header {
  background: black;
}
.nav-wrapper {
  max-width: 1200px;
  background: black;
  margin: 0 auto;
  position: relative;
  padding: 0px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.nav-wrapper ul li {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 0;
}

nav.nav-wrapper ul li a {
  font-size: 17px;
  line-height: 22px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}

nav.nav-wrapper ul li a:hover {
  border-bottom: 1px solid #ffffff;
}

.box {
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 900px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-row-gap: 75px;
  padding-top: 100px;
}
.box .imgBx {
  width: 300px;
}
.box .imgBx img {
  max-width: 100%;
}

.box .content {
  padding: 20px;
}

.box .content h2 {
  margin: 0;
  padding: 30;
}
